coverage==7.16.2
    # via pytest-cov
iniconfig==2.3.1
    # via pytest
packaging==26.3
    # via pytest
pluggy==1.6.0
    # via
    #   pytest
    #   pytest-cov
pygments==2.21.0
    # via pytest
pytest==9.1.1
    # via
    #   -r requirements-dev.in
    #   pytest-cov
pytest-cov==7.1.0
    # via -r requirements-dev.in
